# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.svn-base
build/VocabularyNote/.svn/entries
build/VocabularyNote/.svn/format
build/VocabularyNote/.svn/wc.db
build/VocabularyNote/.svn/wc.db-journal
*.db
*.db-journal
build/.svn/entries
build/.svn/format
build/UnitTest/AutoUnitTestTool.vcxproj.user
build/VocabularyNote.opensdf
build/VocabularyNote.sdf
build/Win32/Debug/Bin/AutoUnitTestTool.ilk
build/Win32/Debug/Bin/AutoUnitTestTool.pdb
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.exe.embed.manifest
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.exe.embed.manifest.res
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.exe.intermediate.manifest
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.lastbuildstate
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.log
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.res
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.unsuccessfulbuild
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.vcxprojResolveAssemblyReference.cache
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/AutoUnitTestTool_manifest.rc
build/Win32/Debug/Intermediate/AutoUnitTestTool/cl.command.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/CL.read.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/CL.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/link-cvtres.read.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/link-cvtres.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/link.command.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/link.read.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/link.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/mt.command.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/mt.read.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/mt.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/rc.command.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/rc.read.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/rc.write.1.tlog
build/Win32/Debug/Intermediate/AutoUnitTestTool/vc100.idb
build/Win32/Debug/Intermediate/AutoUnitTestTool/vc100.pdb
*.tlog
*.log
*.manifest
